[submodule "libraries/argparse"]
	path = libraries/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "libraries/mavlink-cpp"]
	path = libraries/mavlink-cpp
	url = https://github.com/dakejahl/mavlink-cpp.git
[submodule "libraries/bluez"]
	path = libraries/bluez
	url = https://github.com/bluez/bluez.git
[submodule "libraries/opendroneid-core-c"]
	path = libraries/opendroneid-core-c
	url = https://github.com/opendroneid/opendroneid-core-c.git
[submodule "libraries/tomlplusplus"]
	path = libraries/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
